#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  padding: 2em;
}

.header {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  ), url("./assets/header-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  padding: 60px 20px;
  margin: 0;
}

h2 {
  margin: 0 0 32px 0;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-width: 150px;
  min-height: 250px;
  border: solid 4px white;
  opacity: 0.8;
  cursor: pointer;
}

.card:hover {
  opacity: 1;
}

.card-selected {
  border-color: #008000;
  opacity: 1;
}

.card img {
  object-fit: contain;
  width: 160px;
  margin-bottom: 20px;
  border: solid 4px white;
  border-radius: 20px;
}

.card-content {
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  width: 120px;
}

.tick {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-color: white;
  border-radius: 50%;
  border: solid 4px #008000;
}